.divider {
  display: flex;
  align-items: center;
  gap: 5px;

  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  color: var(--text-secondary);
  text-transform: uppercase;
}

.divider:before,
.divider:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--divider);
}